
html, body { 
    scroll-behavior: smooth;

}

body{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #808080;
margin:0px;
}

a{
color:#000000;
scroll-behavior: smooth;
text-decoration: none;

}

.banner{
background-image: url('../../resources/img/Banner.JPEG');
background-repeat: no-repeat;
background-size:cover;
text-align: center;
height:300px; 
padding: 0px;
margin:0px;
width:100%;
}

.banner h1{
color: #000000;
font-family:Oswald,s'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, sans-serif;
font-weight:900;
font-size: 90px;
text-align: left;
padding-left:30px;
margin: 0%;
height:auto;
}

h2{
color:#000000c6;
font-size: 50px;
text-align: center;
font-weight: 900;
font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 70px auto 50px auto;
}


.Menu a{
text-align: center;
border-radius: 3px;
color:#ffffff;
margin: 10px;
padding: 10px 20px 15px 20px;
font-size: 20px;
display:inline-block;
scroll-behavior: smooth;

}

.Menu a:hover {
opacity:0.9;
color:#000000e0;
font-size: 25px;;
}

.LinkAbout {
    background-image: url('../../resources/img/About.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}
.Linkcontact {
    background-image: url('../../resources/img/Contact.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}
.LinkSkills {
    background-image: url('../../resources/img/Skills2.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}
.LinkSoft {
    background-image: url('../../resources/img/Skills.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}
.LinkExp {
    background-image: url('../../resources/img/Exp.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}

.LinkEdu {
    background-image: url('../../resources/img/Certificates.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}

.LinkPortfolio {
    background-image: url('../../resources/img/Engineering.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}
.Cat {
    margin:10px;
    padding:10px;
}


.About-Me{
    /* display:grid;
    grid-template-columns: repeat(2, 1fr); */
    margin: 10px auto;
    padding: 20px;
    color:rgb(0, 0, 0);
    max-width: 700px;
}

.About-Me img {
    max-width:400px;
    align-items: center;

}
.About-Me p::first-letter{
    font-weight: 800;
    font-size: 30px;
}
.About-Me p{

    text-align: justify;
    font-size: 20px;
}
.About-Me a {
    font-weight:bold;
    text-decoration: none;
    color: black;
    text-decoration:underline;
}

.ToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    background-color: #282626e2; /* Set a background color */
    background-position:50% 50%;
    background-repeat:no-repeat;    
    color: #98958666;
    border-radius: 50%; /* Rounded corners */
    height:40px;
    width:40px;
}
.ToTop img {
    width: 90%;
    height: 90%;
}

.ToTop:hover {
    background-color: #98958666 ;
    color: #282626e2;
    height:50px;
    width:50px;
}

.BigMother {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    background-color: #282626; /* Set a background color */
    /* background-position:50% 50%; */
    color: #ffffffb3;
    height:40px;
    width:80px;
    text-align: center;
    font-size: 25px;
}

.NavBar {
    position: relative;
    display: inline-block;
}


.nav {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    z-index: 1;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.BigMother:hover .nav{
    display:block;
    background-color: #9f9f9f ;
    color:#000000;
    bottom: 0px;
    left: 0px;
    list-style: none;
    text-align: left;
    font-weight: bold;
}
.BigMother:active .nav{
    display:block;
    background-color: #9f9f9f ;
    color:#000000;
    bottom: 0px;
    left: 0px;
    list-style: none;
    text-align: left;
    font-weight: bold;
}
.nav li {
    padding:5px;
}
.nav a {
    text-decoration: none;
}

.Skills {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-image: url('../../resources/img/Skills2.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Skills div {
    border:10px solid #808080;
    color:#ffffff;
    display:inline-block;
    
}
.Skills div:hover {
    border: 20px

}
.Skills h3{
    font-size: 30px;
    color:#ffffff;
}
.Skills p{
    text-align: center;
    font-size: 20px;
    margin: 10px 10px;
    color:#ffffff;
}
.Soft {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url('../../resources/img/Skills.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Soft div {
    border:10px solid #808080;
    color:#ffffff;
    display:inline-block;
    
}
.Soft div:hover {
    border: 20px

}
.Soft h3{
    font-size: 30px;
    color:#ffffff;
}
.Soft p{
    text-align: center;
    font-size: 20px;
    margin: 10px 10px;
    padding-bottom: 10px;
    color:#ffffff;
}

.Work_Experience {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.CV a{
    text-align: center;
    background: #4f4f4fa9;    
    color:#c9c9c9;
    padding: 20px 30px 25px 30px;
    margin: 40px 10px;
    font-size: 25px;
    display:inline-block;
    text-decoration:none;
}

.CV a:hover {
    background: #00000097;
    color:#a79e9664;

    }

.Work_Experience h4{
    font-size: 25px;
    margin-bottom: 0px;
}

.Work_Experience h5{
    font-size: 20px;
    margin: 0px;
}


.Work_Experience div{
    padding: 0px 30px 25px 30px;
    display: flex;
    height: auto;
    margin-bottom:10px;
    color:rgb(255, 255, 255);
}

.VIU {
    background-image: url('../../resources/img/VIU.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}
.KIABI {
    background-image: url('../../resources/img/Kiabi.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}
.resume {
    width:30%;
    text-align: left;
    margin-top: 0px;
}

.resume p {
    font-size: 20px;
    font-style: italic;
}

.Text p {
    text-align: justify;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
}

.Education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
}

.School {
    background-image: url('../../resources/img/WBS.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Uni {
    background-image: url('../../resources/img/Uni.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Certificates {
    background-image: url('../../resources/img/Certificates.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Education div {
    padding-bottom: 20px;
    color: white;
    margin: 20px;
}
.Education div:hover {
    margin: 10px;

}
.Education a {
    text-decoration:none;
    color: white;
}
.Education h4 {
    font-size: 20px;
}

.Portfolio{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-image: url('../../resources/img/Portfolio.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Portfolio div {
    border:10px solid #808080;
    color:#ffffff;
    display:inline-block;
}

.Portfolio div:hover {
    border: 20px
    }

.Portfolio a{
    color: white;
    padding: 10px ;
    margin: 20px;
    align-items: center;
    font-size: 20px;
}

.Portfolio a {
    text-decoration: none;
}
.Portfolio h4 {
    font-size: 25px;
    color: white;
}

.Contact_Me {
    width:100%;
    margin:0px;

}

.Contact_Me p{
    font-size: 25px;
    margin:0px;
}

.Contact_Me a{
color:#5b5744a8;
font-weight: bold;
}
.Contact_Me img {
    border-radius: 50%;
    color: #3d3b2fa8;
    height: 40px;
    margin: 10px;
}
.Contact_Me img:hover {
    background-color: #282626e2;
}
footer{
margin: 0px;
width:100%;
}

@media only screen and (max-width:445px){

    .banner h1{
        font-size: 53px; 
    }
    .Cat {
        margin:0px;
    }
    .Skills {
        grid-template-columns: repeat(2, 1fr);
    }
    .Work_Experience {
        display:block;
    }
    .VIU {
        padding: 0px 13px 20px 13px;
    }
    .Work_Experience h4{
        font-size: 15px;
        margin-top:30px;
    }
    .Work_Experience h5{
        font-size: 13px;
    }
    .KIABI {
        padding: 0px 13px 20px 13px;
    }
    .resume {
        width:50px;
    }
    .Text {
        font-size: 16px;
    }
    .Education {
    }
    .Education div {
    }
    .Portfolio{
    }
}

