
html, body { 
    scroll-behavior: smooth;

}

body{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #808080;
margin:0px;
}

a{
color:#000000;
scroll-behavior: smooth;
text-decoration: none;

}

.banner{
background-image: url('../../resources/img/Banner2.JPEG');
background-repeat: no-repeat;
background-color: #171717;
background-size:cover;
text-align: center;
height:500px; 
padding: 0px;
margin:0px;
width:100%;
}

.banner h1{
color: #79848b;
font-family: "Anek Devanagari","Arial Narrow", Helvetica, sans-serif;
font-weight:900;
font-size: 100px;
text-align: left;
padding-left:30px;
margin: 0%;
height:auto;
}

h2{
color:#000000c6;
font-size: 50px;
text-align: center;
font-weight: 900;
font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 70px auto 50px auto;
}


.Menu a{
text-align: center;
color:#ffffff;
margin: 10px;
padding: 10px 20px 15px 20px;
font-size: 20px;
display:inline-block;
scroll-behavior: smooth;
border-left: 3px solid rgb(255, 255, 255);
}

.Menu a:hover {
opacity:0.9;
margin: 8px;

/* color:#000000e0; */
/* font-size: 25px; */
border-left: 5px solid rgb(255, 255, 255);

}

/* .LinkAbout {
    background-image: url('../../resources/img/About.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}
.Linkcontact {
    background-image: url('../../resources/img/Contact.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}
.LinkSkills {
    background-image: url('../../resources/img/Skills2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.LinkSoft {
    background-image: url('../../resources/img/Skills.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}
.LinkExp {
    background-image: url('../../resources/img/Exp.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}

.LinkEdu {
    background-image: url('../../resources/img/Certificates.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
}

.LinkPortfolio {
    background-image: url('../../resources/img/Engineering.JPEG');
    background-repeat: no-repeat;
    background-size: cover;
} */
.Cat {
    margin:10px;
    padding:10px;
}


.About-Me{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin: auto 5%;
}

.About-Me p{
    text-align: justify;
    font-size: 18px;
    color:white;
}
.About-Me a {
    font-weight:bold;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.813);
    text-decoration:none;
}

.ToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    background-color: #282626; /* Set a background color */
    background-position:50% 50%;
    background-repeat:no-repeat;    
    color: #98958666;
    border-radius: 50%; /* Rounded corners */
    height:40px;
    width:40px;
}
.ToTop img {
    width: 90%;
    height: 90%;
}

.ToTop:hover {
    background-color: #4a4129 ;
    color: #282626e2;

}

.BigMother {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    background-color: #282626; /* Set a background color */
    background-image: url('../../resources/img/Nav.JPEG');
    /* background-position:50% 50%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position:15%;
    color: white;
    height:40px;
    width:150px;
    text-align: center;
    border-radius: 5px;
}

.NavBar {
    position: relative;
    display: inline-block;
}


.nav {
    display: none;
    position: absolute;
    background-color: #282626;
    min-width: 150px;
    z-index: 2;
    font-size: 15px;
}

.BigMother:hover .nav{
    display:block;
    background-color: #282626 ;
    color: white;
    bottom: -1px;
    left: -75px;
    /* right:-50px;
    top:10px; */
    list-style: none;
    text-align: left;
    font-weight: bold;
    border-radius: 5px;
}

.nav li {
    padding:5px;
    
}
.nav a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
}

.nav li:hover {
    background-color: #5c5c5c;
}

.Skills {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-image: url('../../resources/img/Skills2.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Skills div {
    border:10px solid #808080;
    color:#ffffff;
    display:inline-block;
    
}
.Skills div:hover {
    border: 10px solid rgb(184, 182, 182);


}
.Skills h3{
    font-size: 23px;
    color:#ffffff;
}
.Skills p{
    text-align: center;
    font-size: 15px;
    margin: 10px 10px;
    color:#ffffff;
}
.Soft {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url('../../resources/img/Skills.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}
.Soft div {
    border:10px solid #808080;
    color:#ffffff;
    display:inline-block;
    
}
.Soft div:hover {
    border: 10px solid rgb(184, 182, 182);
}
.Soft h3{
    font-size:23px;
    color:#ffffff;
}
.Soft p{
    /* text-align: center; */
    font-size: 15px;
    /* margin: 10px 10px; */
    /* padding-bottom: 10px; */
    color:#ffffff;
}

.Work_Experience {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.CV a{
    text-align: center;
    background: #2f2e2ea9;    
    color:#fffefec8;
    padding: 15px 25px 15px 25px;
    margin: 40px 10px;
    font-size: 15px;
    display:inline-block;
    text-decoration:none;
    border-radius: 50px;
}

.CV a:hover {
    background: #00000097;
    color:#a79e9664;

    }

.Work_Experience h4{
    font-size: 20px;
    margin-bottom: 0px;
}

.Work_Experience h5{
    font-size: 15px;
    margin: 0px;
}


.Work_Experience div{
    padding: 0px 20px 25px 30px;
    display: flex;
    height: auto;
    margin-bottom:10px;
    color:rgb(255, 255, 255);
}

.VIU {
    background-image: url('../../resources/img/VIU.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}
.KIABI {
    background-image: url('../../resources/img/Kiabi.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}
.resume {
    width:30%;
    text-align: left;
    margin-top: 0px;
}

.resume p {
    font-size: 15px;
    font-style: italic;
}

.Text p {
    text-align: justify;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 18px;
}

.Education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
}

.School {
    background-image: url('../../resources/img/WBS.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Uni {
    background-image: url('../../resources/img/Uni.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Certificates {
    background-image: url('../../resources/img/Certificates.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
}

.Education div {
    padding-bottom: 20px;
    color: white;
    margin: 20px;
}
.Education div:hover {
    border: 10px solid rgb(184, 182, 182);
    margin:10px;

}

.Education a {
    text-decoration: underline;
    color: white;
}
.Education h4 {
    font-size: 20px;
}

.Portfolio{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-image: url('../../resources/img/Portfolio.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Portfolio div {
    border:10px solid #808080;
    color:#ffffff;
    display:inline-block;
}

.Portfolio div:hover {
    border: 20px
    }

.Portfolio p{
    text-align: justify;
    margin: 5%;
}

.Portfolio a {
    text-decoration: underline;
    color:white;
}
.Portfolio h4 {
    font-size: 23px;
    padding: 10px ;
    margin: 20px;
    color: white;
    align-items: center;
}

.Contact_Me {
    width:100%;
    margin:0px;

}

.Contact_Me p{
    font-size: 20px;
    margin:0px;
}

.Contact_Me img {
    border-radius: 50%;
    color: #3d3b2fa8;
    height: 40px;
    margin: 10px;
    
}

.Contact_Me img:hover {
    background-color: #282626e2;
}


@media only screen and (max-width:445px){

    .banner {
        height: 150px;
    }
    .banner h1{
        font-size: 45px; 
    }
    .Menu a{
        color:#ffffff;
        margin: 5px 50px;
        padding: 10px;
        font-size: 15px;
        display:block;
        background-image: none;
        background-color: #282626e2;
        }
    .Menu a:hover {
        color:#ffffff;
        margin: 5px 50px;
        padding: 10px;
        font-size: 15px;
        display:block;
        background-image: none;
        background-color: #282626e2;
    }
    .About-Me{
        grid-template-columns: repeat(1, 1fr);
    }
    .About-Me div:first-child {
        grid-row: 2;

    }
    .Cat {
        margin:0px;
    }
    .BigMother {
        display:none;
    }
    .Skills {
        grid-template-columns: repeat(2, 1fr);
    }
    .Skills h3{
        font-size: 20px ;
    }
    .Skills p{
        font-size: 15px;

    }
    .Work_Experience {
        display:block;
    }
    .VIU {
        padding: 0px 13px 20px 13px;
    }
    .Work_Experience h4{
        font-size: 15px;
        margin-top:30px;
    }
    .Work_Experience h5{
        font-size: 13px;
    }
    .KIABI {
        padding: 0px 13px 20px 13px;
    }
    .resume {
        width:50px;
    }
    .Text {
        font-size: 16px;
    }
    .Education div {
        margin: 10px;
    }
}

