
html, body { 
    scroll-behavior: smooth;

}

body{
text-align: center;
font-family: Oswald,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #282626c3;
margin:0px;
}

a{
color:#000000;
font-weight: 700;
scroll-behavior: smooth;

}

.banner{
background-image: url("https://libg.s3.us-east-2.amazonaws.com/download/Work-Work.jpg");
background-repeat: no-repeat;
background-size:cover;
background-color: (rgba(28, 19, 2, 0.757));
text-align: center;
height:300px; 
padding: 0px;
margin:0px;
width:100%;
}

.banner h1{
color: #000000c0;
font-family:Oswald,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:600;
font-size: 88px;
text-align: center;
margin: 0%;
background: #0b0804a9;
height:auto;
}

h2{
color:#98958666;
font-size: 40px;
text-align: center;
font-weight: 900;
font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: underline;
margin: 70px auto 50px auto;
}

.Menu a{
text-align: center;
background: #14110ea9;
border-radius: 0px;
color:#000000a8;
margin: 10px;
padding: 20px 30px 25px 30px;
font-size: 25px;
display:inline-block;
scroll-behavior: smooth;

}
.Menu a:hover {
background: #000000d4;
color:#a79e9664
}

.Cat {
    margin:10px;
    padding:10px;
}


.About-Me{
display:inline-flex;
margin: 10px auto;
padding: 20px;
max-width: 700px;
}
.About-Me p::first-letter{
    font-weight: 800;
    font-size: 30px;
}
.About-Me p{
    margin: 0px 10px;
    padding: 10px 10px;
    text-align: justify;
    font-size: 20px;
}

.Skills {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.Skills div {
    border:1px solid rgba(35, 34, 32, 0.757); 
    border-radius: 0px;
    color:#000000a8;
    margin: 10px;
    padding: 10px 40px 25px 40px;
    display:inline-block;
}

.Skills h3{
    font-size: 30px;
    color:#000000;
}
.Skills p{
    text-align: center;
    font-size: 20px;
    margin: 10px 10px;
}


.Work_Experience {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.CV a{
    text-align: center;
    background: #211e1aa9;
    color:#000000a8;
    padding: 20px 30px 25px 30px;
    margin: 40px 10px;
    font-size: 25px;
    display:inline-block;
}

.CV a:hover {
    background: #000000d4;
    color:#a79e9664
    }

.Work_Experience h4{
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: underline;
}

.Work_Experience h5{
    font-size: 20px;
    margin: 0px;

}


.Work_Experience div{
    border: 1px solid #0b0804a9;
    padding: 0px 30px 25px 30px;
    display: flex;
    height: auto;
    margin-bottom:10px;
}

.resume {
    width:300px;
    text-align: left;
    margin-top: 0px;
}

.resume p {
    font-size: 15px;
    font-style: italic;
}

.Text p {
    text-align: justify;
    padding-left: 40px;
    padding-top: 20px;
}

.Education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 10px;

}

.Education div {
    border: 1px solid black;
    padding-bottom: 20px;
}

.Education h4 {
    font-size: 20px;
    text-decoration:underline;
}
.Portfolio{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.Portfolio p{
    background-color: #282626e2;
    color:#98958666;
    padding: 30px 30px 25px 30px;
    margin:10px;
    align-items: center;
}
.Portfolio h6 {
    font-size: 30px;
    text-decoration: underline;
}
.Portfolio a {
    font-size: 20px;
    color:#98958666;
    text-decoration: none;
}
.Portfolio p:hover {
    background-color: #98958666 ;
    color: #282626e2;
}
.Contact_Me {
    width:100%;
    margin:0px;

}

.Contact_Me p{
    font-size: 25px;
    margin:0px;
}

.Contact_Me a{
color:#5b5744a8;
font-weight: bold;
}
.Contact_Me img {
    border-radius: 50%;
    color: #3d3b2fa8;
    height: 40px;
    margin: 10px;
}
.Contact_Me img:hover {
    background-color: #282626e2;
}
footer{
margin: 0px;
width:100%;
}

@media only screen and (max-width:445px){
    html, body { 
    }
    .banner h1{
        font-size: 53px; 
    }
    .Cat {
        margin:0px;
    }
    .Skills {
        display:block;
    }
    .Work_Experience {
        display:block;
    }
    .VIU {
        padding: 0px 13px 20px 13px;
    }
    .KIABI {
        padding: 0px 13px 20px 13px;
    }
    .resume {
        width:50px;
    }
    .Education {
        display: block;
    }
    .Portfolio{
        display: block;
    }
}

